/ItemSeqIdentifier.class
/Itemset.class
/Pair.class
/PseudoSequence.class
/Sequence.class
/SequenceDatabase.class
/SequentialPattern.class
/SequentialPatterns.class
/SimpleInterval.class
/SuperItem.class
